body {
    background-color : #c5b290 ;
    margin-top: 7vh;  
    font-family: 'Futura' ;
}
.titre1{
    display: flex;
    align-items: top;
    justify-content: center;
    font-size: 80px;
    font-weight: bold;
    color: #4b4a4a;
    margin-bottom: 150px;;
}

.titre2{
    padding-bottom: 20px;
    font-size: 30px;
}

.colonnes{
    display: flex;
    justify-content: center;
    align-items: center;
}

.colonnes>div{
    height: 500px;
    width: 350px;
    margin:8vh;
    text-align:center;
    background:#d1c7bd;
    border-radius:30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    padding: 30px;
    box-sizing: border-box;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    transition:0.3s;
}

.colonnes>div:hover {
    transform: scale(1.1); 
    box-shadow: 0 15px 35px rgba(0,0,0,0.3); 
}

.img{
    width: 80%;
    height: 250px; 
    object-fit: cover; 
    object-position: center;
    border-radius: 10px;
    margin: 0 auto 30px auto;
    margin-bottom: 50px;
}

.bouton-discover{
    text-decoration: none;
    padding: 12px;
    width: 60%;
    align-self: center; 
    color: black;
    box-shadow: 0 0 20px #e0b963;
    background: #e9e3d5;
    border-radius: 50px;
    border: none;
    display: inline-block;
    transition:0.3s;
}

.bouton-discover:hover{
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(175, 128, 25, 0.863);
}


form {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.barre {
    display: flex;
    align-items: center; 
    width: 600px; 
    padding: 15px 15px;
    background-color: white; 
    border-radius: 100px; 
    box-shadow: 0 4px 15px rgba(0,0,0,0.05); 
    border: 1px solid #e0e0e0; 
    transition: 0.3s;
}

.loupe {
    margin-right: 15px;
    color: #b91515;
    font-size: 20px;
}


#maRecherche {
    border: none;
    background: transparent;
    outline: none; 
    width: 100%;
    font-size: 18px;
    font-family: 'Futura', sans-serif;
}


.btn-invisible {
    display: none;
}

.barre:focus-within {
    box-shadow: 0 6px 20px rgba(0,0,0,0.1);
    border-color: #d1c7bd;
}
