form {
    display:flex;
    justify-content: center;
    align-items: center;
}

fieldset {
    background-color: #d1c7bd;
    border: none;
    border-radius: 30px;
    padding: 80px;
    width: 30%;
    box-shadow: 0 15px 35px rgba(0,0,0,0.2);
    text-align: center;
}

.titre-profil {
    font-size: 28px;
    font-weight: bold;
    color: #4b4a4a;
    margin-top: 0;
    margin-bottom: 30px;
}

/* Structure de chaque ligne */
.ligne-form {
    display: flex;
    align-items: flex-end; /* Aligne le bouton avec le bas de l'input */
    justify-content: center;
    gap: 10px;
    margin-bottom: 25px;
}

/* Zone qui contient l'image ou le couple label/input */
.zone-contenu {
    flex: 80%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    max-height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 25px;
    border: 3px solid #e5b186;
    background-color: #eee;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #666;
    font-size: 14px;
}

input {
    width: 100%;
    padding: 15px;
    border: 1px solid #adaaa8;
    background-color: #f5f2ec;
    border-radius: 50px;
    box-sizing: border-box;
    font-size: 16px;
    text-align: center;
    transition: 0.3s;
}

input:focus {
    outline: none;
    background-color: #fff;
    box-shadow: 0 0 10px #f8d1aa;
    border-color: #e5b186;
}


.edit {
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    background: linear-gradient(135deg, #e5b186 0%, #dbc19c 100%);
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(206, 137, 70, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    transition: 0.3s;
    margin-bottom: 2px; 
}

.edit:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 15px #d79a10;
}