body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--beige);
    color: var(--brun);
}


.admin {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 20px 40px;
}

.admin-header {
    margin-bottom: 50px;
}

.admin-header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.admin-header p {
    color: var(--gris-texte);
}

.admin-filtres {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.admin-filtres button {
    padding: 10px 20px;
    border: 1px solid var(--marron);
    background-color: transparent;
    color: var(--marron);
    cursor: pointer;
    transition: 0.3s ease;
}

.admin-filtres button.active,
.admin-filtres button:hover {
    background-color: var(--marron);
    color: var(--creme);
}


.admin-utilisateurs-wrapper {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    padding: 0 40px 60px;
}

.admin-utilisateurs {
    max-width: 1400px;
    margin: 0 auto;
}

.admin-table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--beige);
}

.admin-table thead {
    background-color: var(--sable);
}

.admin-table th,
.admin-table td {
    padding: 16px;
    font-size: 0.9rem;
    text-align: left;
}

.admin-table tbody tr:nth-child(even) {
    background-color: #f3ede6;
}

.admin-table tbody tr:hover {
    background-color: #e9dfd3;
}

.admin-table a {
    color: var(--marron);
    font-weight: 600;
}

